@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Roboto Mono', monospaceO
    background-color: #1e1e1e
    color: white
    margin: 100px
    max-width: 600px

.recent-entry
    width: 300px
    height: 600px