---
import '../styles/styles.sass'
import Nav from '../components/Nav';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/personal-blog/favicon.svg" />
    <title>About me</title>
</head>
<body>
    <Nav/>
    <h1>About me</h1>
    <p>Hi, I'm Hector and I like to learn stuff that caught my interest. I'm 18 years old and I live in El Salvador, a tiny country of Central America.</p>
    <br>
    <p>I create this blog as a learning method, I think if I teach some of the concepts that I learn and explain them in a clear way I could learn more from the things that I already know.</p>
    <br>
    <p>I really like to learn a lot of things and create other things with them. An explample of this is my fascination with UI and UX design or the goal to become a Data Scientist being a developer.</p>
    <br>
    <h4 style="font-weight: 400;">// Some of my social media accounts:</h4>
    <a href="https://www.linkedin.com/in/hectorrivera222" target="_blank">LinkedIn</a>
    <br>
    <a href="https://www.behance.net/hctorrivera3" target="_blank">Behance</a>
    <br>
    <a href="https://github.com/Hctor11" target="_blank">GitHub</a>
    <br>
    <a href="https://dribbble.com/HectorRivera222" target="_blank">Dribble</a>

    <h4 style="font-weight: 400; margin-top: 20px">// Some of the projects where I worked:</h4>



</body>
</html>